@import "icons_custom_icons_sizes.css";
:root {
    --tab-min-height: 30px !important;
}
    .titlebar-button {
    background-color: transparent !important;
	border: solid #8A8A8A 1px !important;
	border-right: none !important;
	border-bottom: none !important;
	box-shadow: inset 1px 1px 0 rgba(255,255,255,.2) !important;
    }
    .titlebar-button:hover {
    background-color: rgba(0,0,0, 0.15) !important;
    }
#browser-bottombox, #status-bar, #status-bar > *, #nav-bar, #addon-bar, #main-window[tabsontop="false"] ,
    #main-window[tabsontop="false"] #PersonalToolbar[collapsed="false"] + #TabsToolbar, .browserContainer > findbar,
    #main-window[tabsontop="false"] [id^="__customToolbar"]:not([collapsed="true"]) ~ #TabsToolbar, #sidebar-search-container
{
  background-image: linear-gradient(#F9F9F9,#E4E4E4) !important;
}
#PersonalToolbar {
  background-image: linear-gradient(#E4E4E4,#DFDFDF) !important;
}
.tab-line { 
  height: 0px !important;
  }
.tab-background[selected="true"], #sidebar-header {
  background-image: linear-gradient(#FFFFFF, #FAFAFA) !important;
  border-bottom: none !important
}
#main-window {
 background-color: #BABABA !important;
}
 
#urlbar, .searchbar-textbox, .findbar-textbox {
border-color: #CACACA !important;
border-top-color: #A3A3A3 !important;
border-width: 1px !important;
box-shadow: 
0px 1px 0px 0px #F1F1F1, 
inset 0px 1px 0px 0px #E7E7E7 !important;
}
#urlbar, .searchbar-textbox {
border-radius: 3px !important;
min-height: 0px !important;
height: 27px !important;
}
#nav-bar {
  height: 35px !important;
}
.tab-close-button
{
 width: 16px !important;
 height: 16px !important;
}

.tabbrowser-tab .tab-background {
border: #969696 1px solid !important;
border-bottom: unset !important;
border-radius: 5px 5px 0 0;
background-color: #D2D7DD !important;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
margin-top: 4px !important;
}
#TabsToolbar .tabbrowser-tab:not([selected="true"]):hover .tab-background {
background-color: #E8EDF2 !important;
}
tab:([selected=”true”]) {
background-color: #BABABA !important;
}
.tabbrowser-tab:not([selected]) .tab-content{
    color: dimgray !important;
}

:-moz-any(#back-button,#forward-button,#home-button,#stop-button,#reload-button,#bookmarks-menu-button,#history-panelmenu,
	#add-ons-button,#open-file-button,#save-page-button,#sync-button,#feed-button,#characterencoding-button,
	#new-window-button,#new-tab-button,#privatebrowsing-button,#find-button,#print-button,#fullscreen-button,#developer-button,
	#preferences-button,#PanelUI-menu-button,#cut-button,#copy-button,#paste-button,#zoom-out-button,#zoom-in-button,
	#tabview-button,#email-link-button,#sidebar-button,#web-apps-button,#webide-button,#developer-button,#containers-panelmenu,
	#library-button,#bookmarks-toolbar-placeholder,#nav-bar-overflow-button,#alltabs-button ),
#downloads-button:not([indicator="true"]),#panic-button:not([open]),#pocket-button:not([open]),
#downloads-button .toolbarbutton-icon {
  list-style-image: url("toolbar_fx_old_chrome.png") !important;
}

#downloads-button:not(:-moz-any([progress],[counter],[paused],[attention])) #downloads-indicator-progress-outer,
#downloads-button:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter,
#downloads-button:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon {
  background: -moz-image-rect(url("toolbar_fx_old_chrome.png"), 0, 198, 18, 180) center no-repeat !important;
}

#urlbar[pageproxystate="valid"] #tracking-protection-icon-container:not([hidden]) ~ #identity-box:-moz-any(.verifiedDomain,.verifiedIdentity) #identity-icon,
#urlbar[pageproxystate="valid"] :-moz-any(.verifiedDomain,.verifiedIdentity) #connection-icon {
  list-style-image: url(lock1.png) !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}
.tab-close-button:not([pinned]){ display: -moz-box !important; }

.tabbrowser-tab:not([pinned]) .tab-close-button:hover {
  background-color: #D06A5D;
  border-radius: 25px;
  color: #fff !important;
}
:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
width: unset !important;
height: unset !important;
background-color: unset !important;
border: unset !important;
padding: var(--toolbarbutton-inner-padding) !important;
border-radius: var(--toolbarbutton-border-radius) !important; }
:root:not([uidensity="compact"]) #back-button:hover:not([disabled]) > .toolbarbutton-icon {
background-color: var(--toolbarbutton-hover-background) !important; }
:root:not([uidensity="compact"]) #back-button:active:not([disabled]) > .toolbarbutton-icon {
background-color: var(--toolbarbutton-active-background) !important; }
:root:not([uidensity="compact"]) #back-button {
padding-inline-start: 3px !important; }

#main-window:not([uidensity="compact"]) #back-button .toolbarbutton-icon {
padding: 5px !important;
}
.tab-background {
  transform: perspective(10px) rotateX(2.5deg);
}
.tabbrowser-tab::before, 
.tabbrowser-tab::after{
  display: none !important;
}
.titlebar-spacer{
  display: none
}
.tabbrowser-tab[fadein]:not([pinned]) { 
  max-width: 196px !important;
}  
